.background {
  viewport-fill: black;
}

.label {
  font-size: 30;
  font-family: Seville-Book-Condensed;
  text-length: 32;
  text-anchor: start;
  fill: white;
}

#timeLabel {
  x: 60%;
  y: 20%;
}

#hrLabel {
  x: 60%;
  y: 40%;
}

#stepsLabel {
  x: 60%;
  y: 60%;
}
