.background {
  viewport-fill: black;
}

.label {
  font-size: 30;
  font-family: Colfax;
  text-length: 32;
  text-anchor: start;
  fill: white;
}

#timeLabel {
  x: 50%;
  y: 20%;
}

#hrLabel {
  x: 50%;
  y: 30%;
}

#stepsLabel {
  x: 50%;
  y: 40%;
}

#batteryLabel {
  x: 50%;
  y: 50%;
}
